@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

body {
    position: relative;
    width: 98%;
    height: 1024px;
    background: #000000;
}

#logo {
    position: absolute;
    width: 170.74px;
    height: 43px;
    left: 50px;
    top: 55px;
}


#hi {
    position: absolute;
    width: 180px;
    height: 19px;
    left: 301px;
    top: 47px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 19px;
    color: #FFFFFF;
}

.search {
    position: absolute;
    width: 320px;
    height: 58px;
    left: 716px;
    top: 47px;
    box-sizing: border-box;
    border: solid;
    background: #121317;
    border-radius: 20px;
}

#search {
    position: absolute;
    width: 20.26px;
    height: 20.72px;
    top: 64px;
    left: 743px;

}

#search-p {
    position: relative;
    width: 56px;
    height: 19px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.5);
    top: 66.5px;
    left: 785px;
}

#ring {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1084px;
    top: 64px;
}

#ring-pink {
    position: absolute;
    width: 7px;
    height: 7px;
    left: 1109px;
    top: 61px;
    border-radius: 50%;
    background: #F495FB;
}

#profile-photo {
    position: absolute;
    width: 39px;
    height: 39px;
    right: 47.2px;
    top: 57px;
    border-radius: 50%;
}

.left-div {
    height: 438.7799987792969px;
    width: 207px;
    left: 50px;
    top: 203px;
    border-radius: 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

}

.dashboard {
    width: 207px;
    height: 45.54px;
    background: linear-gradient(273.78deg, #7A9EEF 8.84%, #B8479F 47.63%, #F495FB 102.85%);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12.42px;
}

#dashboard {
    position: absolute;
    height: 14px;
    width: 92.73600006103516px;
    left: 60.4439697265625px;
    top: 15.732000350952148px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #FFFFFF;
    margin: 0px;

}

#dashboard-img {
    position: absolute;
    left: 18.21600341796875px;
    top: 12.420000076293945px;
    border-radius: 0px;

}

.invoices {
    background: #000000;
    border-radius: 12.42px;
    position: absolute;
    height: 45.540000915527344px;
    width: 207px;
    left: 0px;
    top: 65.54000091552734px;


}

#invoices {
    position: absolute;
    height: 14px;
    width: 92.73600006103516px;
    left: 60.4439697265625px;
    top: 15.732002258300781px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0px;
}

#invoices-img {
    position: absolute;
    left: 18.22px;
    top: 12.42px;
    border-radius: 0px;

}

.clients {
    background: #000000;
    border-radius: 12.42px;
    position: absolute;
    height: 45.540000915527344px;
    width: 207px;
    left: 0px;
    top: 131.0800018310547px;


}

#clients {
    position: absolute;
    height: 14px;
    width: 92.73600006103516px;
    left: 60.4439697265625px;
    top: 15.73199462890625px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0px;
}

#clients-img {
    position: absolute;
    left: 18.21600341796875px;
    top: 12.419998168945312px;
    border-radius: 0px;

}

.products {
    background: #000000;
    border-radius: 12.42px;
    position: absolute;
    height: 45.540000915527344px;
    width: 207px;
    left: 0px;
    top: 196.6199951171875px;


}

#products {
    position: absolute;
    height: 14px;
    width: 92.73600006103516px;
    left: 60.4439697265625px;
    top: 15.73199462890625px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0px;


}

#products-img {
    position: absolute;
    left: 18.21600341796875px;
    top: 12.419998168945312px;

}

.messages {
    background: #000000;
    border-radius: 12.42px;
    position: absolute;
    height: 45.540000915527344px;
    width: 207px;
    left: 0px;
    top: 262.1600036621094px;


}

#messages {
    position: absolute;
    height: 14px;
    width: 92.73600006103516px;
    left: 60.4439697265625px;
    top: 15.73199462890625px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0px;

}

#messages-img {
    position: absolute;
    left: 18.21600341796875px;
    top: 12.420013427734375px;

}

.settings {
    background: #000000;
    border-radius: 12.42px;
    position: absolute;
    height: 45.540000915527344px;
    width: 207px;
    left: 0px;
    top: 327.70001220703125px;




}

#settings {
    position: absolute;
    height: 14px;
    width: 92.73600006103516px;
    left: 60.4439697265625px;
    top: 15.73199462890625px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0px;

}

#settings-img {
    position: absolute;
    left: 18.21600341796875px;
    top: 12.420013427734375px;

}

.help {
    background: #000000;
    border-radius: 12.42px;
    position: absolute;
    height: 45.540000915527344px;
    width: 207px;
    left: 0px;
    top: 393.2400207519531px;

}

#help {
    position: absolute;
    height: 14px;
    width: 92.73600006103516px;
    left: 60.4439697265625px;
    top: 15.73199462890625px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0px;
}

#help-img {
    position: absolute;
    left: 18.21600341796875px;
    top: 12.420013427734375px;

}

.total-balance {
    position: absolute;
    width: 176px;
    height: 135px;
    left: 301px;
    top: 168px;

}

#total-balance {
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    width: 110px;
    height: 19px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0px;


}

#total-balance-number {
    position: absolute;
    width: 176px;
    height: 19px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 18px;
    color: #FFFFFF;

}

#total-balance-dolar {
    position: absolute;
    width: 85px;
    height: 19px;
    top: 74px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0px;

}

.btc {
    position: absolute;
    width: 45px;
    height: 23px;
    left: 493px;
    top: 203px;
    background: #5CC5F7;
    border-radius: 5px;
    box-sizing: border-box;
}

#btc {
    position: absolute;
    width: 25px;
    height: 19px;
    top: 2px;
    left: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    margin: 0px;
    text-align: center;
}

.mid-right {
    position: absolute;
    width: 404px;
    height: 57px;
    left: 634px;
    top: 186px;

    background: #121317;
    border-radius: 15px;
}

.mid-rgt {
    position: absolute;
    width: 376px;
    height: 39px;
    left: 14px;
    top: 9px;
    gap: 4px;
}

.portfolio {
    position: absolute;
    width: 91px;
    height: 39px;
    background: #000000;
    border-radius: 15px;
}

#portfolio {
    position: absolute;
    width: 53px;
    height: 19px;
    left: 19px;
    top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0px;
}

.funding {
    height: 39px;
    width: 91px;
    left: 95px;
    top: 0px;
    border-radius: 15px;
    padding: 10px 38px 10px 38px;

}

#funding {
    position: absolute;
    width: 52px;
    height: 19px;
    left: 128.5px;
    top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0px;
}

.assets {
    height: 39px;
    width: 91px;
    left: 190px;
    top: 0px;
    border-radius: 15px;
    padding: 10px 38px 10px 38px;

}

#assets {
    position: absolute;
    height: 19px;
    width: 40px;
    left: 229.5px;
    top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0px;

}

.p2p {
    position: absolute;
    height: 39px;
    width: 91px;
    right: 14px;
    top: 0px;
    border-radius: 15px;
    padding: 10px 38px 10px 38px;

}

#p2p {
    position: absolute;
    width: 25px;
    height: 19px;
    left: 132px;
    top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0px;
}

.mid-center {
    position: absolute;
    top: 310px;
    left: 303px;
    width: 744px;
    height: 443px;
    background: #121317;
    border-radius: 15px;

}

.select {
    position: absolute;
    width: 219px;
    height: 33px;
    left: 36px;
    top: 35px;
    gap: 6px;
}



.one-h {
    width: 31px;
    height: 33px;
    background: #000000;
    border-radius: 5px;
    position: absolute;
    left: 0px;

}

#one-h {
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 8px;
    color: #FFFFFF;
    top: 12px;
    left: 8px;
    margin: 0px;
}

.one-d {
    width: 31px;
    height: 33px;
    background: #FFFFFF;
    border-radius: 5px;
    position: absolute;
    left: 36px;

}

#one-d {
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 8px;
    color: #000000;
    top: 12px;
    left: 8px;
    margin: 0px;
}


.three-d {
    width: 33px;
    height: 33px;
    background: #000000;
    border-radius: 5px;
    position: absolute;
    left: 72px;

}

#three-d {
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 8px;
    color: #FFFFFF;
    top: 12px;
    left: 8px;
    margin: 0px;
}

.one-w {
    width: 34px;
    height: 33px;
    background: #000000;
    border-radius: 5px;
    position: absolute;
    left: 110px;

}

#one-w {
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 8px;
    color: #FFFFFF;
    top: 12px;
    left: 8px;
    margin: 0px;
}

.one-m {
    width: 32px;
    height: 33px;
    background: #000000;
    border-radius: 5px;
    position: absolute;
    left: 149px;

}

#one-m {
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 8px;
    color: #FFFFFF;
    top: 12px;
    left: 8px;
    margin: 0px;
}

.calendar {
    width: 32px;
    height: 33px;
    background: #000000;
    border-radius: 5px;
    position: absolute;
    left: 187px;

}

#calendar {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 9px;
    top: 9px;
}

.btc-div {
    position: absolute;
    width: 84.09px;
    height: 33.09px;
    left: 470px;
    top: 35px;
    background: #000000;
    border-radius: 5px;
}

#logobtc {
    position: absolute;
    transform: rotate(16.29deg);
    top: 8px;
    left: 5px;
}

#logo-p {
    width: 33px;
    height: 9px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 8px;
    color: #FFFFFF;
    top: 12px;
    left: 27px;
    position: absolute;
    margin: 0px;
}

#arrow {
    width: 15px;
    height: 15px;
    top: 9px;
    right: 4px;
    position: absolute;
}

.repeat {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 153px;
    top: 40px;
}

#repeat {
    width: 24px;
    height: 24px;
}

.eth {
    position: absolute;
    width: 85.08px;
    height: 33.08px;
    right: 52.92px;
    top: 35px;
    background: #000000;
    border-radius: 5px;
}

.eth-div {
    width: 57.08px;
    height: 19.08px;
    left: 4px;
    top: 7px;
}

#eth-div {
    position: absolute;
    transform: rotate(16.29deg);
    left: 4px;
    top: 7px;

}

#eth-div-p {
    position: absolute;
    width: 34px;
    height: 9px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 8px;
    color: #FFFFFF;
    top: 12.04px;
    right: 24px;
    margin: 0px;
}

#arrow-img {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 9px;
    right: 4px;
}


.grafic-dolar {
    position: absolute;
    width: 43px;
    height: 273px;
    left: 36px;
    top: 91px;


}

.g-dolar-div {
    position: absolute;
    width: 43px;
    height: 273px;
    left: 36px;
    top: 107px;
    padding-left: 0px;

}

#g-dolar {
    position: relative;
    text-decoration: none;
    list-style: none;
    margin-bottom: 35px;
    width: 41px;
    height: 9px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 8px;
    color: rgba(255, 255, 255, 0.5);

    padding-left: 0px;

}

.march {
    position: absolute;
    width: 584px;
    height: 9px;
    left: 98px;
    top: 380px;
}

#mar {
    margin-right: 20px;
    list-style: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 8px;
    color: rgba(255, 255, 255, 0.5);
    display: inline;

}

#mar-11 {
    list-style: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 8px;
    color: rgba(255, 255, 255, 0.5);
    display: inline;
}

#pink-light {
    position: absolute;
    width: 589px;
    height: 145px;
    left: 80px;
    top: 200px;

}

#blue-light {
    position: absolute;
    width: 589px;
    height: 230.05px;
    top: 135px;
    left: 93px;

}

#blue-light-one {
    position: absolute;
    width: 27px;
    height: 27px;
    left: 321px;
    top: 200px;
    border-radius: 50%;
}

#blue-light-two {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 326px;
    top: 201px;
}

#blue-light-three {
    position: absolute;
    width: 11px;
    height: 11px;
    left: 329px;
    top: 204px;
}

#blue-line {
    position: absolute;
    top: 153px;
    left: 335px;
}

#blue-frame {
    left: 320px;
    top: 130px;
    position: absolute;
}

#pink-light-one {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 295px;
    top: 311px;
}

#pink-light-two {
    position: absolute;
    width: 11px;
    height: 11px;
    left: 298px;
    top: 313px;
}

#pink-light-three {
    position: absolute;
    width: 7px;
    height: 7px;
    left: 300px;
    top: 315px;
}

#pink-line {
    left: 303px;
    position: absolute;
    top: 262px;
}

#pink-frame {
    left: 290px;
    top: 249px;
    position: absolute;
}

.transaction {
    position: absolute;
    width: 168px;
    height: 19px;
    left: 301px;
    top: 793px;
}

#transaction {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;

}

.bitcoin-btc {
    position: absolute;
    width: 744px;
    height: 71px;
    left: 301px;
    top: 846px;
    background: #121318;
    border-radius: 20px;

}

#logos-bitcoin {
    position: absolute;
    left: 30px;
    top: 23.30px;
}

.bc-btc {
    position: absolute;
    width: 51px;
    height: 43px;
    left: 72px;
    top: 14px;


}

#bitcoin-one {
    width: 51px;
    height: 19px;
    top: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0px;
}

#btc-one {
    width: 25px;
    height: 19px;
    bottom: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0px;
}

.market-cap {
    position: absolute;
    width: 82px;
    height: 43px;
    left: 184px;
    top: 14px;
}

#market-cap {
    width: 82px;
    height: 19px;
    top: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0px;

}

#market-cap-dolar {
    width: 65px;
    height: 19px;
    bottom: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #D79DDA;
    margin: 0px;

}

.h-change {
    position: absolute;
    width: 85px;
    height: 43px;
    top: 14px;
    left: 327px;
}

#h-change {
    position: absolute;
    width: 85px;
    height: 19px;
    top: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0px;
}

#plus-three {
    position: absolute;
    width: 41px;
    height: 19px;
    top: 21px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #00A25D;
    margin: 0px;
}

.pink-item {
    position: absolute;
    width: 125px;
    height: 30.04px;
    top: 0px;
    left: 469px;
    margin: 0px;
}

#pink-item {
    position: absolute;
    left: 0px;
    top: 3px;

}

.trade {
    width: 54px;
    height: 23px;
    position: absolute;
    background: #000000;
    border-radius: 20px;
    top: 24px;
    right: 31px;

}

#trade {
    position: absolute;
    width: 34px;
    height: 19px;
    top: 2px;
    left: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0px;
}

.bitcoin-eth {
    position: absolute;
    width: 744px;
    height: 71px;
    left: 301px;
    top: 932px;

    background: #121318;
    border-radius: 20px;
}


#eth-logo {
    position: absolute;
    left: 30px;
    top: 23.30px;
}

.bitcoin-eth-div {
    position: absolute;
    width: 51px;
    height: 43px;
    left: 72px;
    top: 14px;
}

#bitcoin-blue {
    position: absolute;
    width: 51px;
    height: 19px;
    top: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin: 0px;
    color: #FFFFFF;
}

#eth {
    position: absolute;
    width: 25px;
    height: 19px;
    bottom: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin: 0px;
    color: rgba(255, 255, 255, 0.5);

}

.market-cap-blue {
    position: absolute;
    width: 82px;
    height: 43px;
    top: 14px;
    left: 184px;
}

#market-cap-blue {
    width: 82px;
    height: 19px;
    top: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin: 0px;
    color: #FFFFFF;
}

#market-cap-dolar-blue {
    width: 63px;
    height: 19px;
    bottom: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin: 0px;
    color: #05EFF4;

}

.h-change-two {
    position: absolute;
    width: 81px;
    height: 43px;
    left: 327px;
    top: 14px;
}

#h-change-two {
    width: 81px;
    height: 19px;
    top: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin: 0px;
    color: #FFFFFF;
}

#one-plus {
    position: absolute;
    width: 36px;
    height: 19px;
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    bottom: 3px;
    color: #028F54;
}

.blue-item {
    position: absolute;
    width: 125px;
    height: 30.04px;
    top: 20.48;
    left: 469px;
}

.trade-two {
    position: absolute;
    width: 54px;
    height: 23px;
    top: 24px;
    right: 31px;
    background: #000000;
    border-radius: 20px;

}

#trade-two {
    position: absolute;
    width: 34px;
    height: 19px;
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    top: 2px;
    left: 10px;
}

.footer-div {
    position: absolute;
    width: 280px;
    height: 195px;
    left: 331px;
    top: 1100px;

}

.transaction-t {
    position: absolute;
    width: 168px;
    height: 19px;
    left: 301px;
    top: 1040px;
}

#transaction-t {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;

}

#logo-b {
    position: absolute;
    top: 9.5px;
    left: 0px;
}

#rd-bitcoin {
    position: absolute;
    left: 42px;
    top: 0px;
    width: 51px;
    height: 19px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin: 0px;
    color: #FFFFFF;
}

#rd-buy {
    position: absolute;
    left: 42px;
    top: 24px;
    width: 24px;
    height: 19px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin: 0px;
    color: rgba(255, 255, 255, 0.5);
}

#five-dolar {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 46px;
    height: 19px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin: 0px;
    color: #FFFFFF;
}

#rd-bitcoin-today {
    position: absolute;
    width: 94px;
    height: 19px;
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
    right: 0px;
    top: 24px;
}

#logo-eth {
    position: absolute;
    top: 72.5px;
    left: 0px;
}

#Ethereum {
    position: absolute;
    top: 63px;
    left: 42px;
    width: 72px;
    height: 19px;
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

#Received-eth {
    position: absolute;
    top: 87px;
    left: 42px;
    width: 56px;
    height: 19px;
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);

}

#zero-eth {
    position: absolute;
    top: 63px;
    right: 0px;
    width: 79px;
    height: 19px;
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

#today-eth {
    position: absolute;
    top: 87px;
    right: 0px;
    width: 96px;
    height: 19px;
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
}


#polkatod-logo {
    position: absolute;
    top: 135px;
    left: 0px;
}

#polkatod {
    position: absolute;
    left: 42px;
    top: 126px;
    width: 64px;
    height: 19px;
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

#pol-buy {
    position: absolute;
    top: 150px;
    left: 42px;
    width: 24px;
    height: 19px;
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
}

#pol-dolar {
    position: absolute;
    top: 126px;
    right: 0px;
    width: 44px;
    height: 19px;
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;

}

#pol-today {
    position: absolute;
    top: 150px;
    right: 0px;
    width: 90px;
    height: 19px;
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
}

.footer-div-two {
    position: absolute;
    width: 280px;
    height: 195px;
    left: 746px;
    top: 1100px;

}

#eos-logo {
    position: absolute;
    top: 9.5px;
    left: 0px;

}

#eos {
    position: absolute;
    left: 42px;
    top: 0px;
    width: 30px;
    height: 19px;
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;

}

#eos-received {
    position: absolute;
    top: 24px;
    left: 42px;
    width: 56px;
    height: 19px;
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
}

#eos-dolar {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 74px;
    height: 19px;
    margin: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

#eos-yesterday {
    position: absolute;
    top: 24px;
    right: 0px;
    width: 117px;
    height: 19px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0px;
}